<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Inventory |
        1. Fidan Zeynalli - 101504996 |
        2. Karina Vetlugina - 101501883 |
        3. Kiana Nezafat Yazdi - 101488042
    </div>
</footer>