@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SmartInventoryManagementSystem.Areas.ProductManagement.Models.Category
@{
    ViewBag.Title = "Add Category";
    Layout = "_Layout";
}

<h2>Add Category</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Category Name</label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <br/>
    <button type="submit" class="btn btn-success">Add</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>