@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<SmartInventoryManagementSystem.Areas.ProductManagement.Models.Product>
@inject UserManager<SmartInventoryManagementSystem.Areas.ProjectManagement.Models.ApplicationUser> UserManager
@inject SignInManager<SmartInventoryManagementSystem.Areas.ProjectManagement.Models.ApplicationUser> SignInManager

@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

<h2>Products</h2>

@if (ViewBag.LowStockCount > 0)
{
    <div class="alert alert-warning">
        ⚠️ Warning: There are low-stock products!
    </div>
}

<div class="mb-3">
    @if (User.IsInRole("Admin"))
    {
        <a asp-area="ProductManagement" asp-controller="Product" asp-action="Add" class="btn btn-primary">Add New Product</a>
        <a asp-area="ProductManagement" asp-controller="Product" asp-action="Summary" class="btn btn-primary">Summary</a>
        <a asp-area="ProductManagement" asp-controller="Category" asp-action="Index" class="btn btn-primary">Manage Categories</a>
    }
    <a asp-area="ProductManagement" asp-controller="Product" asp-action="Search" class="btn btn-primary">Search the Products</a>
</div>

<div id="productsList">
    @await Html.PartialAsync("_ProductListPartial", Model)
</div>

<style>
    .table-danger {
        background-color: darkred;
    }
</style>