@{
    ViewBag.Title = "About Page";
    Layout = "_Layout";
}

<h2>About</h2>

<div>
    <h2>Welcome to Smart Inventory Management System</h2>
    <h6>GROUP 5</h6>
    <p>1. Name: Fidan Zeynalli | Student ID: 101504996</p>
    <p>2. Name: Karina Vetlugina | Student ID: 101501883 </p>
    <p>3. Name: Kiana Nezafat Yazdi | Student ID: 101488042</p>
    <p>Course Code: COMP2139</p>
    <p>Section: 50259</p>
</div>