@model Assignment1.Areas.ProductManagement.Models.Order

@{
    ViewBag.Title = "Track Order";
    Layout = "_Layout";
}

<h2>Track Order</h2>

<form asp-action="Track" method="post">
    
    <div class="form-group">
        <label for="customerName">Customer Name</label>
        <input type="text" id="customerName" name="customerName" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="customerEmail">Customer Email</label>
        <input type="email" id="customerEmail" name="customerEmail" class="form-control"/>
    </div>
    <br/>
    <div class="form-group">
        <input type="submit" value="Track" class="btn btn-primary"/>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}